*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #00B4D8;
}
#Heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03045E;
    color: #CAF0F8;
    height: 5vh;
    font-size: 30px;
}
.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 5px;
}
.inputField{
    border: none;
    width: 50vw;
    font-size: 20px;
    background-color: #CAF0F8;
    height: 5vh;
    padding-left: 5px;
}
.inputField::placeholder{
    color: #0077B6;
}
.SearchBtn{
    cursor: pointer;
    font-size: 20px;
    height: 5vh;
    width: 70px;
    border: none;
    background-color: #03045E;
    color: #CAF0F8 ;
}
.searchQueryBox{
  background-color: #CAF0F8;  
  width: 70vw;
  height: 70vh;
  /* border: 2px solid black;   */
  margin: 30px auto;
  font-size: larger;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.searchQueryBox img{
    width: 20px;
}
#WordHeading{
    color: #03045E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Noun{
    /* border: 1px solid black; */
    margin-top: 20px;
}
.Verb{
    /* border: 1px solid black; */
    margin-top: 20px;
}
.Adverb{
    /* border: 1px solid black; */
    margin-top: 20px;
}
.Adjective{
    /* border: 1px solid black; */
    margin-top: 20px;
}
.Origin{
    margin-top: 20px;
    border: 1px solid black;
}
h3{
    color: #00B4D8;
    margin-left: 50px;
}
p{
    color: #29535a;
    margin-left: 50px;
    margin-top: 10px;
}
.Synonyms{
    margin-top: 20px;
}

.Synonyms ul{
    flex-wrap: wrap;
    width: 90%;
    margin-top: 5px;
    display: flex;
    gap: 10px;
    margin-left: 50px;
}

.Synonyms ul li{
    list-style: none;
    color: #29535a;
    text-decoration: underline;
    cursor: pointer;
    /* border: 1px solid black; */
}
.Synonyms ul li:hover{
    color: #03045E;
}
.Antonyms{
    margin-top: 20px;
}

.Antonyms ul{
    flex-wrap: wrap;
    width: 90%;
    margin-top: 5px;
    display: flex;
    gap: 10px;
    margin-left: 50px;
}

.Antonyms ul li{
    list-style: none;
    color: #29535a;
    text-decoration: underline;
    cursor: pointer;
    /* border: 1px solid black; */
}
.Antonyms ul li:hover{
    color: #03045E;
}